<%- include('templates/header'); -%>
<main class="formulario-cambio">
    <div class="row">
        <div class="paso-descripcion container text-center">
            <h1>Activación de Cuenta</h1>
            <div class="my-4">
                <img src="/images/success-green-check-mark.svg" alt="Historial de operaciones" width="90">
            </div>
            <h4>Su cuenta ha sido activada exitosamente</h4>
            <div class="pt-5 d-flex justify-content-center">
                <button type="button" class="btn btn-light btn-continuar" onclick="window.location.href= '/login'">Iniciar Session
                    <i class="far fa-hand-point-right"></i>
                </button>
            </div>
        </div>
        
    </div>
</main>

    <script>

    </script>
    <%- include('templates/footer'); -%>