<%- include('templates/header'); -%>
<div class="banner">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
          <h1 class="old-pretty-title">Cambia dinero de manera fácil y rápida</h1>
          <p id="floro" class="d-none d-sm-none d-md-block">
             Somos el grupo DotCom Money Exchange, aquí puedes obtener el mejor tipo de cambio del día y cambia tu dinero de manera facil y rápida.
             <br/>
             <br />
             ¡No esperes mas tiempo aprovecha nuestra mejor tarifa del día!
          </p>
      </div>
      <div class="col-md-4">
        <div class="calculator">
          <form>
            <div class="h6 text-center tarifa">Tipo de cambio del día: <b>S/.  <%-data.ratio-%></b></div>
            <div class="form-group">
              <label id="lblSoles" for="solesInput">Soles</label>
              <input type="text" class="form-control form-control-lg" id="txtSoles" autocomplete="false">
            </div>
            <div class="d-grid gap-2">
                <button id="btnCambio" class="cambio btn btn-light btn-sm bt-block" type="button" data-extra="1" ><i class="fas fa-retweet"></i></button>
            </div>            
            <div class="form-group">
              <label id="lblDolares" for="dolaresInput">Dolares</label>
              <input type="text" class="form-control form-control-lg" id="txtDolares" autocomplete="false">
          </div> 
            <br>
            <div class="form-group">
              <a href="/login" class="btn btn-lg btn-warning bt-block btn-login" >Iniciar sesión</a>
            </div>
        </form>
        </div>

          <div class="mensaje-registrar text-center">
              <p>¿Aún no tienes una cuenta con nosotros?</p>
              <a href="/register" class="link-primary lead" style="color: #06AFE4">!Registrate ahora!</a>
          </div>
      </div>
  </div>
  </div>
</div>
<br>
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="article text-center">
        <h3>Trabajamos con los bancos más importantes del país</h3>
        <p>Transferencia inmediata con los siguientes bancos afiliados</p>
        <div class="row">
          <div class="col-sm-6 col-md-2">
            <img src="/images/bcp-logo.svg" alt="BCP">
          </div>
          <div class="col-sm-6 col-md-2">
            <img src="/images/bbva-logo.svg" alt="BBVVA">
          </div>
          <div class="col-sm-6 col-md-2">
            <img src="/images/interbank-logo.svg" alt="Interbank">
          </div>
          <div class="col-sm-6 col-md-2">
            <img src="/images/pichincha-logo.svg" alt="Interbank">
          </div>
          <div class="col-sm-6 col-md-4">
            <img src="/images/banbif-logo.svg" alt="Interbank">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<script>
  let ratio = /<%-data.ratio-%>/.source;
  let txtSoles = document.getElementById("txtSoles");
  let txtDolares = document.getElementById("txtDolares");
  var input1 = txtSoles;
  var input2 = txtDolares;
  txtSoles.onkeyup = calcularInput1;
  txtDolares.onkeyup = calcularInput2;

  let btnCambio = document.getElementById("btnCambio");
  let lblDolares = document.getElementById("lblDolares");
  let lblSoles = document.getElementById("lblSoles");
        
  btnCambio.onclick = function() {    
    if (btnCambio.getAttribute("data-extra") == 1) {
        btnCambio.setAttribute("data-extra", "2");
        lblDolares.innerText = "Soles";
        lblSoles.innerText = "Dolares";
        input1 = txtDolares;
        input2 = txtSoles;
        txtSoles.onkeyup = calcularInput2;
        txtDolares.onkeyup = calcularInput1;
        input2.dispatchEvent(new KeyboardEvent('keyup', {'key':'1'}));
    } else {
        btnCambio.setAttribute("data-extra", "1");
        lblDolares.innerText = "Dolares";
        lblSoles.innerText = "Soles";
        input1 = txtSoles;
        input2 = txtDolares;
        txtSoles.onkeyup = calcularInput1;
        txtDolares.onkeyup = calcularInput2;
        input1.dispatchEvent(new KeyboardEvent('keyup', {'key':'1'}));
    }
  };
  
  function calcularInput1 () {
    debugger;
    input2.value = Math.round((input1.value / ratio) * 100) / 100;
  }

  function calcularInput2 () {
    debugger;
    input1.value = Math.round((input2.value * ratio) * 100) / 100;
  }

  let url = "http://192.190.42.160/ServicioDivisaRest/divisa?deDivisa=PEN&haciaDivisa=USD&monto=1";
  fetch(url, {
            method: 'POST',
            body: {},
            headers: {
              "Content-type": "application/json"
            }
          })
      .then(response => response.json())
      .then(json => console.log(json))

</script>
<%- include('templates/footer'); -%>